# macOS
.DS_Store

# Dev and Env
.vscode/
.idea/
.env

# Go
/backend/vendor/
/backend/tmp/
/backend/.iris.yml

# Vue
/frontend/node_modules/
/frontend/dist/
/frontend/npm-debug.log
/frontend/yarn-error.log
